 <body>
 <section class="login">
 <div class="container">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="login-image">
 			<img src="../../assets/images/register.jpg">
 		</div>
 	  </div>
 		<div class="col-md-6 text-center">
 			<div class="login-form">
 			<h3><strong>Register Form</strong></h3>
 		<form>
 			<div class="form-group">
 				<input type="text" name="fullname" placeholder="FullName" class="form-control">
 			</div>
      <div class="form-group">
        <input type="email" name="email" placeholder="Email" class="form-control">
      </div>
      <div class="form-group">
        <input type="tel" name="contact" placeholder="Contact" class="form-control">
      </div>
 			<div class="form-group">
 				<input type="password" name="password" placeholder="Password" class="form-control">
 			</div>
      <div class="form-group">
        <input type="password" name="confirm-password" placeholder="Confirm Password" class="form-control">
      </div>
 			<div class="form-group">
 				<input type="submit" name="submit" class="btn btn-outline">
 			</div>
 		</form>
 		  <div class="register-tag">
 		  	<div class="row"><p>Already have an Account?</p>&nbsp;&nbsp;<a routerLink="/login">Login here</a></div></div>
 			</div>
 		</div>
 	</div>
 </div>
</section>
</body>
