
 <section class="banner">
  	<div class="content">
			<h2>SPARKLE ON</h2>
			<a href="#" class="btn">Shop Now</a>
		</div>
  </section>

  <div class="row">
  		<div class="col text-center mb-3 mt-3">
  		<div class="title">
  			<h3 class="text-center"><strong>Our Products</strong></h3>
  		</div>
  	</div>
  	</div>

<section class="shop" id="#shop">

    <div class="row">
      <div class="col-md-3">
        <div class="card">
        <img class="img-thumbnail" src="../../assets/images/jewel4.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Ocean Stone</h5>
            <div class="row">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <a href="#"><i class="fas fa-heart"></i></a>
            <h6 class="col text-right mt-2">Rs. 300</h6>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
        <img class="img-thumbnail" src="../../assets/images/jewel1.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Pearl Drops</h5>
            <div class="row">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <a href="#"><i class="fas fa-heart"></i></a>
            <h6 class="col text-right mt-2">Rs. 350</h6>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="card">
        <img class="img-thumbnail" src="../../assets/images/jewel2.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Flare Gold Set</h5>
            <div class="row">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <a href="#"><i class="fas fa-heart"></i></a>
            <h6 class="col text-right mt-2">Rs. 500</h6>
          </div>
          </div>
        </div>
      </div>
      <div class="col-md-3" >
        <div class="card">
        <img class="img-thumbnail" src="../../assets/images/jewel3.jpg" alt="">
          <div class="card-body">
            <h5 class="card-title">Sunflower</h5>
            <div class="row">
            <a href="#"><i class="fas fa-shopping-cart"></i></a>
            <a href="#"><i class="fas fa-heart"></i></a>
            <h6 class="col text-right mt-2">Rs. 320</h6>
          </div>
          </div>
        </div>
      </div>
      </div>
  </section>

   <section id="#services" class="services">
    <div class="row">
      <div class="col text-center mb-3 mt-3">
      <div class="title">
        <h3 class="text-center"><strong>Our Services</strong></h3>
      </div>
    </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-3">
               <div class="col text-center">
                 <div class="box">
                <i class="far fa-credit-card fa-3x"></i>
              </div>
                <h4>Payment services</h4>
          </div>
        </div>
        <div class="col-md-3">
               <div class="col text-center">
                 <div class="box">
                <i class="fas fa-user-check fa-3x"></i>
              </div>
                <h4>Customer Service</h4>
              </div>
        </div>
        <div class="col-md-3">
               <div class="col text-center">
                 <div class="box">
                <i class="fas fa-shopping-bag fa-3x"></i>
              </div>
               <h4>Enjoy Shopping</h4>
             </div>
        </div>
        <div class="col-md-3">
               <div class="col text-center">
                  <div class="box">
                <i class="fas fa-laptop fa-3x"></i>
              </div>
                <h4>Shop From Home</h4>
              </div>
        </div>
      </div>
      </div>
    </section>

    <section id="#location" class="location">
       <div class="row">
      <div class="col text-center mb-3 mt-3">
      <div class="title">
        <h3 class="text-center"><strong>Location</strong></h3>
      </div>
    </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="button-location text-center">
          <h3><strong>Find Us</strong></h3>
          <button class="btn mt-3">Find Location</button>
        </div>
      </div>
      <div class="col-md-6">
        <div class="img-location">
          <img src="../../assets/images/shop.jpeg">
        </div>
      </div>
    </div>

 