  <body>
  <section class="login">
 <div class="container">
 	<div class="row">
 		<div class="col-md-6">
 			<div class="login-image">
 			<img src="../../assets/images/girl.jpg">
 		</div>
 	  </div>
 		<div class="col-md-6 text-center">
 			<div class="login-form">
 			<h3><strong>Login Form</strong></h3>
 		<form>
 			<div class="form-group">
 				<input type="text" name="username" placeholder="Username" class="form-control">
 			</div>
 			<div class="form-group">
 				<input type="password" name="password" placeholder="Password" class="form-control">
 			</div>
 			<div class="form-group">
 				<input type="submit" name="submit" class="btn btn-outline">
 			</div>
 		</form>
 		  <div class="register-tag">
 		  	<div class="row"><p>Do not have an Account?</p>&nbsp;&nbsp;<a routerLink="/register">Register here</a></div></div>
 			</div>
 		</div>
 	</div>
 </div>
</section>
</body>